<div class="dashboard-content">
    <div class="dashboard-header bg-white flex sticky top-0 z-10">
        <h1 class="ml-8 p-6 font-bold text-2xl">Dashboard</h1>
        <div class="profile-container flex ml-auto">
            <img src="../../../assets/images/profile-icon.png" class="w-16 h-16 mt-2">
            <h5 class="profile mr-16 ml-4 mt-8">Welcome, Ninja</h5>
        </div>
    </div>
      <h2 class="date-time ml-96 font-bold text-2xl mt-4">2025/04/23 <br> 20:00:00 PM</h2>
    <div class="main-content flex flex-col ml-96 overflow-auto">
        <div class="flex flex-row gap-8 mt-4">
            <div class="doughnut-chart-container bg-white rounded-3xl">
                    <p class="ml-8 pt-4 text-gray-400">Tasks</p>
                    <canvas baseChart
                        width="400"
                        [data]="doughnutChartData"
                        [options]="doughnutChartOptions"
                        [type]="doughnutChartType"
                        class="pl-16 mr-44">
                    </canvas>
            </div>
            <div class="recent-activity-container bg-white rounded-3xl">
                <div class="activity-row-1 flex p-4 gap-3">
                    <h1 class="font-bold text-2xl">Recent Activity</h1>
                    <button class="ml-72"><img src="../../../assets/images/more-icon.png" class="w-8 h-8"></button>
                </div>
                <div class="activity-row-2 flex p-4">
                    <p class="text-lg">Michael submitted Task#3</p>
                    <p class="text-lg date-activity ml-auto">2025/04/14</p>
                </div>
                <div class="activity-row-3 flex p-4">
                    <p class="text-lg">You created Task#4</p>
                    <p class="text-lg date-activity ml-auto">2025/04/14</p>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-8 mt-4">
            <div class="bg-white p-4 rounded-xl shadow pb-4">
              <h1 class="font-bold text-2xl mb-4">Trainee Progress Timeline</h1>
              <div class="timeline-charts flex flex-row gap-8">
                <div class="chart-1 w-80 h-56">
                  <canvas
                    baseChart
                    [type]="timelineChartType"
                    [data]="timelineChartData"
                    [options]="timelineChartOptions">
                  </canvas>
                </div>
          
                <div class="chart-2 w-80 h-56">
                  <canvas
                    baseChart
                    [type]="timelineChartType"
                    [data]="timelineChartData"
                    [options]="timelineChartOptions">
                  </canvas>
                </div>
              </div>
            </div>
            <div class="bg-white p-4 rounded-xl shadow pb-4">
                <h1 class="trainees text-2xl font-bold">Trainees</h1>
                <div class="michael-container flex flex-row gap-2 mr-48 ml-4 mt-4">
                    <img src="../../../assets/images/michael-icon.png" class="w-16 h-16 mt-2">
                    <div class="trainee-desc mt-4 ml-2">
                        <h2 class="font-bold text-xl">Michael Mcgee</h2>
                        <h3 class="text-xl">Intern</h3>
                    </div>
                </div>
                <div class="michelle-container flex flex-row gap-2 ml-4 mt-8">
                    <img src="../../../assets/images/michelle-icon.png" class="w-16 h-16 mt-2">
                    <div class="trainee-desc mt-4 ml-2">
                        <h2 class="font-bold text-xl">Michelle Montana</h2>
                        <h3 class="text-xl">Intern</h3>
                    </div>
                </div>
            </div>
        </div>          
    </div>
</div>


