<div class="tito-container flex-row">
    <div class="profile-container flex bg-white w-72 p-3 rounded-xl ml-auto">
     <img src="../../../assets/images/profile-icon.png">
     <div class="ml-4 flex flex-col justify-center">
        <h2 class="welcome text-xl">Welcome, Ninja</h2>
        <h1 class="access-level text-2xl ml-2 font-bold">Mentor</h1>
      </div>
    </div>
    <div class="main-content flex flex-col items-center justify-center">
        <img src="../../../assets/images/large-xentra-logo.png" class="w-4/12" />
        <div class="time-text flex ml-44">
            <h1 class="text-8xl mt-4">8:00:00</h1>
            <div class="flex-col mt-12">
                <h2 class="text-xl ml-14"><span class="dot-am"></span> AM</h2>
                <h2 class="text-xl mt-4 ml-14"><span class="dot-pm"></span> PM</h2>
            </div>
        </div>

        <div class="time-buttons flex-col flex mt-10 gap-16">
            <button class="w-96 h-24 text-xl text-white time-in-button" routerLink="/dashboard">Time In</button>
            <button class="w-96 h-24 text-xl text-white time-out-button" routerLink="/login">Time Out</button>

        </div>
      </div>      
</div>
