<div class="calendar-content">
    <div class="calendar-header bg-white flex sticky top-0 z-10">
        <h1 class="ml-8 p-6 font-bold text-2xl">Calendar</h1>
        <div class="profile-container flex ml-auto">
            <img src="../../../assets/images/profile-icon.png" class="w-16 h-16 mt-2">
            <h5 class="profile mr-16 ml-4 mt-8">Welcome, Ninja</h5>
        </div>
    </div>
    <div class="main-content bg-white flex ml-96 overflow-auto rounded-xl mt-14 w-9/12 p-12 pb-32">
        <h1 class="text-2xl ml-2">April 2025</h1>
        <div class="left-side flex flex-col">
          <div class="day flex flex-row gap-24 mt-8">
            <h5>Mon</h5>
            <h5>Tue</h5>
            <h5>Wed</h5>
            <h5>Thu</h5>
            <h5>Fri</h5>
          </div>
          <div class="line">
            <span class="line-separator bg-black w-full h-0.5 block mt-2"></span>
          </div>
          <div class="dates">
            <div class="first-row flex flex-row gap-24 mt-4 ml-36">
                <h2 class="hovered-date text-xl"></h2>
                <h2 class="text-xl ml-2">2</h2>
                <h2 class="text-xl ml-6">3</h2>
                <h2 class="text-xl ml-2">4</h2>
            </div>
            <div class="second-row flex flex-row gap-24 mt-8 ml-1">
                <h2 class="text-xl ml-0.5">7</h2>
                <h2 class="text-xl ml-8">8</h2>
                <h2 class="text-xl ml-2">9</h2>
                <h2 class="text-xl ml-2">10</h2>
                <h2 class="text-xl">11</h2>
            </div>
            <div class="third-row flex flex-row gap-24 mt-8 ml-1">
                <h2 class="text-xl">14</h2>
                <h2 class="text-xl ml-2">15</h2>
                <h2 class="text-xl">16</h2>
                <h2 class="text-xl ml-2">17</h2>
                <h2 class="text-xl">18</h2>
            </div>
            <div class="fourth-row flex flex-row gap-24 mt-8 ml-1">
                <h2 class="text-xl">21</h2>
                <h2 class="text-xl ml-1.5">22</h2>
                <h2 class="text-xl">23</h2>
                <h2 class="text-xl ml-3">24</h2>
                <h2 class="text-xl">25</h2>
            </div>
            <div class="last-row flex flex-row gap-24 mt-8 ml-1">
                <h2 class="text-xl">28</h2>
                <h2 class="text-xl ml-2">29</h2>
                <h2 class="text-xl">30</h2>
            </div>
          </div>
        </div>
        <div class="right-side flex-col flex text-center mt-2 m-auto">
            <div class="total mb-8">
                <h3 class="text-lg">Total Absences</h3>
                <h3 class="data font-bold">0</h3>
            </div>
            <div class="total mb-8">
                <h3 class="text-lg">Total Number of Hours Worked</h3>
                <h3 class="data font-bold">80</h3>
            </div>
            <div class="total mb-8">
                <h3 class="text-lg">Total Time Ins</h3>
                <h3 class="data font-bold">9</h3>
            </div>
            <div class="total">
                <h3 class="text-lg">Total Number of Hours Worked</h3>
                <h3 class="data font-bold">9</h3>
            </div>
        </div>
    </div>
</div>
