<div class="login-container flex">
    <div class="login-form-container">
        <div class="mx-14 my-16">
            <h2 class="text-xl font-bold mb-8">Welcome back</h2>
            <p class="description">Enter your email to login</p>
        </div>
        <input type="email" placeholder="Email" id="email" name="email" class="mx-14 w-96 h-12">
        <div class="remember-me mb-8">
            <label for="remember" class="label-remember">
                <input type="checkbox" id="remember" name="remember" class="ml-14 mt-4">
                <span class="label-text ml-2">Remember me</span>
              </label>              
        </div>
        <button class="w-72 h-12 text-white login-button" routerLink="/time-in-time-out">Log In</button>
    </div>
    <div class="logo-design-container ml-44 mt-44">
       <img src="../../../assets/images/large-xentra-logo.png" class="w-10/12">
       <h1 class="font-bold text-xl tagline mt-12 ml-56">Communicate, Innovate,<br> Be an IT Literate</h1>
       <img src="../../../assets/images/image-design.png" class="w-5/12 mt-10 ml-56 image-design">
    </div>
</div>
